$header-background-color: theme-color('white');

.o__header {
  position: fixed;
  top: 0;
  padding-top: rem(10px);
  padding-bottom: rem(10px);
  width: 100%;
  background-color: $header-background-color;
  z-index: 1;

  &__container {
    display: flex;
    align-items: center;
  }

  &__title {
    font: {
      size: rem(18px);
    }

    @include media-breakpoint-up(md) {
      font: {
        size: rem(24px);
      }
    }
  }

  &__logo-image {
    display: none;

    @include media-breakpoint-up(md) {
      display: block;
    }

    &--mobile {
      display: block;

      @include media-breakpoint-up(md) {
        display: none;
      }
    }
  }

  &__menu-container {
    margin-left: auto;
  }

  &__hamburger {
    position: relative;
    z-index: 5;
  }
}
